<html>
<body>
<a class="nav-item nav-link" th:href="@{/users/registration}">Зарегистрироваться</a>
<div class="container py-3">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        <div th:if="${not #lists.isEmpty(errorMessage)}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
        <form th:action="@{/users/login}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username">
                <label for="username">Имя</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password">
                <label for="password">Пароль</label>
            </div>
            <hr class="my-4">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Авторизация</button>
        </form>
    </main>
</div>
</body>
</html>